.posts__input-search {
  width: 222px;
  height: 48px;
  background: #f4f7f6;
  border: none;
  padding: 0 0 0 18px;
  box-sizing: border-box;
}

.posts__input-search:focus {
  outline: none;
  border: solid 1px #b59f5b;
}

@media (max-width: 640px) {
  .posts__input-search {
    width: 285px;

    margin-top: 60px;
  }
}

@media (max-width: 320px) {
  .posts__input-search {
    width: 245px;

    margin-top: 60px;
  }
}