.card__image {
  max-width: 381px;
  max-height: 294px;
  background-color: #eff6f1;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .card__image {
    max-width: 392px;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .card__image {
    max-width: 330px;
  }
}