.popup__button {
    background-color: #b59f5b;
    color: #fff;
    border: none;
    margin: 26px 0 0;
    padding: 18px 0;
    cursor: pointer;
}

.popup__button:hover {
    background-color: #323232;
}