.aside {
  max-width: 272px;
  padding-left: 120px;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  width: 1170px;
  height: 83px;
  background: #f4f7f6;
}

.footer__link {
  text-decoration: none;
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  margin: 0 28px 0 0;
}

.footer__copyright-link {
  text-decoration: none;
}

.footer__copyright {
  font-family: "open-sans-bold";
  font-size: 12px;
  line-height: 40px;
  color: #999;
  width: 220px;
  margin: 74px auto 40px;
}
