.popup__radio-img {
    display: inline-block;
    background-image: url(../../../images/svg/form-empty-circle.svg);
    background-position: center;
    background-size: cover;

    height: 20px;
    width: 20px;
}