.mailing-list__input-subscribe {
  max-width: 270px;
  width: 100%;
  min-height: 48px;
  background: #f4f7f6;
  border: none;
  padding: 0 0 0 18px;
  margin: 23px 0 0 0;
  box-sizing: border-box;
}

.mailing-list__input-subscribe:focus {
  outline: none;
  border: solid 1px #b59f5b;
}

@media (max-width: 640px) {
  .mailing-list__input-subscribe {
    margin: 0;
    max-width: 330px;
  }
}
