.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  min-width: 1170px;
  min-height: 83px;
  background: #f4f7f6;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .footer__list {
    min-width: 698px;
  }
}

@media (max-width: 640px) {
  .footer__list {
    min-width: 330px;
  }
}