.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  max-width: 1170px;
  width: 100%;
  min-height: 83px;
  background: #f4f7f6;
}
