.trands__title {
    font-size: 1.25rem;
    line-height: 1.8rem;

    color: #0f0d0e;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 44px;

    position: relative;
}

.trands__title::before {
    content: "";

    background: #e1d9bd;
    background-size: cover;
    background-repeat: no-repeat;

    max-width: 67px;
    width: 100%;
    min-height: 3px;

    position: absolute;
    top: 40px;
    left: 60px;
}