.header {
  background-image: url(../../images/banner-bg.jpg);
  background-color: #666;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  position: relative;
}

.header::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url(../../images/banner-bg-tablet.jpg);
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url(../../images/banner-mobile.jpg);
  }
}
