.popup__select-visit {
    width: 330px;
    box-sizing: border-box;

    padding: 18px 0 18px 19px;
    margin: 10px 0 0;

    border: none;

    background-color: #f4f7f6;
    background-image: url(../../../images/svg/form-arrows.svg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center right 14px;

    -webkit-appearance: none;
    -moz-appearance: none;
}