.trands__container {
    display: flex;
    align-items: flex-end;

    max-width: 410px;
    width: 100%;
    min-height: 320px;

    box-sizing: border-box;

    background-image: url(../../../images/trend1.jpg);
    background-color: #eff6f1;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    margin-right: 4px;
}

.trands__container::before {
    content: "";
    background: rgba(0, 0, 0, .6);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.trands__container:last-of-type {
    margin-right: 0;
}