.trends__title {
    font-size: 1.25rem;
    line-height: 1.9rem;

    color: #0f0d0e;
    text-transform: uppercase;

    position: relative;
}

.trends__title::before {
    content: "";
    background-color: #e1d9bd;

    width: 67px;
    height: 3px;

    position: absolute;
    top: 35px;
    left: 55px;
}