.tags__link {
  text-decoration: none;
  color: #0f0d0e;
  font-size: 0.75rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  border: solid 2px #ededed;
  padding: 7px 13px;
  margin: 0 5px 5px 0;
  box-sizing: border-box;
}

.tags__link:hover {
  border: solid 3px #b59f5b;
}