.footer__copyright {
  font-size: 0.75rem;
  line-height: 2.5rem;
  color: #999;
  max-width: 220px;
  margin: 74px auto 40px;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .footer__copyright {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}

@media (max-width: 640px) {
  .footer__copyright {
    margin-top: 47px;
    margin-bottom: 46px;
  }
}