.trands {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1660px;
    padding-top: 58px;
}

@media (min-width: 641px) and (max-width: 1200px) {
    .trands {
        padding-top: 50px;
    }
}