.aside {
  max-width: 272px;
  padding-left: 120px;
}


@media (min-width: 641px) {
  .aside {
    padding-left: 48px;
  }
}

@media (max-width: 641px) {
  .aside {
    max-width: 330px;
    padding: 0 15px;
  }
}