.aside {
  max-width: 272px;
  padding-left: 120px;
}


@media (min-width: 641px) and (max-width: 1200px) {
  .aside {
    max-width: 271px;
    padding-left: 35px;
  }
}

@media (max-width: 640px) {
  .aside {
    max-width: 330px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}